<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Workout!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-select placeholder="Choose Exercise" ngModel name="exercise" required>
                    <!-- async pipe here automatically subscribes to an observable and extracts the data that the observable returns -->
                    <mat-option *ngFor="let exercise of exercises | async" [values]="exercise.id">
                        {{exercise.name}}
                    </mat-option>
                </mat-select>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button type="submit" mat-button [disabled]="f.invalid" (click)="onStartTraining(f)">Start</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>