<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input 
                type="email" 
                matInput 
                placeholder="Email" 
                ngModel 
                name="email"
                email
                required
                #emailInput="ngModel">
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
            <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                type="password" 
                matInput 
                placeholder="Password" 
                ngModel 
                name="password"
                required
                minlength="6"
                #pwInput="ngModel">
                <!-- pwInput is the local reference -->
            <mat-hint align="end">{{ pwInput.value?.length }} /6</mat-hint>
            <mat-hint>Should be at least 6 characters long</mat-hint>
            <mat-error>Has to be at least 6 characters {{ pwInput.value?.length }} /6</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput 
                placeholder="Birthdate (mm/dd/yyyy)" 
                [matDatepicker]="picker"
                [max]="maxDate"
                ngModel
                name="birthdate"
                required>
                <!-- [max] is property binding. Check ts script -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="agree" required color="primary">All information provided is correct</mat-checkbox>
        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>
